version: '3.8'

services:

  nginx-proxy: # 前端代理nginx
    image: superng6/nginx:debian-stable-1.18.0
    container_name: nginx-proxy
    restart: unless-stopped
    networks:
      blog_net:
        ipv4_address: 172.19.0.2
    ports: 
      - 80:80
      - 443:443
    environment:
      TZ: Asia/Shanghai
    volumes:
      - $PWD/conf/nginx-proxy/nginx.conf:/etc/nginx/nginx.conf
      - $PWD/conf/nginx-proxy/default.conf:/etc/nginx/conf.d/default.conf
      - $PWD/conf/nginx-proxy/mime.types:/etc/nginx/mime.types
      - $PWD/ssl:/etc/nginx/ssl
      - $PWD/logs/proxy:/var/log/nginx
    depends_on:
      - nginx-hugo
      - twikoo

  nginx-hugo:
    image: superng6/nginx:debian-stable-1.18.0
    container_name: nginx-hugo
    restart: unless-stopped
    networks:
      blog_net:
        ipv4_address: 172.19.0.3
    environment:
      TZ: Asia/Shanghai
    volumes:
      - $PWD/conf/nginx-hugo/nginx.conf:/etc/nginx/nginx.conf
      - /dev/shm/nginx-cache-hugo:/var/run/nginx-cache
      - $PWD/data/hugo:/var/www/html
      - $PWD/logs/hugo:/var/log/nginx

  twikoo:
    image: imaegoo/twikoo:1.6.44
    container_name: twikoo
    restart: unless-stopped
    networks:
      blog_net:
        ipv4_address: 172.19.0.4
    environment:
      TZ: Asia/Shanghai
      TWIKOO_THROTTLE: 1000
    volumes:
      - $PWD/data/twikoo:/app/data

  piclist:
    image: docker.1ms.run/kuingsmile/piclist:v2.0.0
    container_name: piclist
    restart: unless-stopped
    networks:
      blog_net:
        ipv4_address: 172.19.0.5
    volumes:
      - $PWD/data/piclist:/root/.piclist
    env_file:
      - .env
    # 需要设置 piclist_key 环境变量
    command: node /usr/local/bin/picgo-server -k ${piclist_key}

  alist:
    image: xhofe/alist:v3.55.0
    container_name: alist
    restart: unless-stopped
    networks:
      blog_net:
        ipv4_address: 172.19.0.6
    volumes:
      - $PWD/data/alist:/opt/alist/data
    environment:
      TZ: Asia/Shanghai
      PUID: 0
      PGID: 0
      UMASK: '022'

  busuanzi-redis:
    image: docker.1ms.run/library/redis:8.4.0-alpine3.22
    container_name: busuanzi-redis
    restart: unless-stopped
    networks:
      blog_net:
        ipv4_address: 172.19.0.7
    environment:
      TZ: Asia/Shanghai
    volumes:
      - $PWD/data/busuanzi-redis:/data

  busuanzi:
    image: docker.1ms.run/xcsoft/busuanzi:v2.8.8
    container_name: busuanzi
    restart: unless-stopped
    networks:
      blog_net:
        ipv4_address: 172.19.0.8
    depends_on:
      - busuanzi-redis
    environment:
      TZ: Asia/Shanghai
      WEB_LOG: true      # 是否开启日志
      WEB_DEBUG: false   # 是否开启debug模式
      WEB_CORS: "https://www.lvbibir.cn"      # 跨域访问
      BSZ_EXPIRE: 0      # 统计数据过期时间 单位秒, 请输入整数 (无任何访问, 超过这个时间后, 统计数据将被清空, 0为不过期)
      BSZ_SECRET: "bsz"   # 签名密钥 // 请设置为任意长度的随机值
      API_SERVER: https://lvbibir.cn/busuanzi   # 填写你的 API 地址
      REDIS_ADDRESS: busuanzi-redis:6379  # redis 地址
      BSZ_PATHSTYLE: true
      BSZ_ENCRYPT: MD516

networks:
  blog_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/16
